<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<configSections>
		<!-- Seção para a configuração do Entity Framework. Para mais informações, visite http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
			<section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
			<section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
		</sectionGroup>
	</configSections>
	<!-- Configurações do ASP.NET -->
	<system.web>
		<!-- Configuração para exibir detalhes de erros (desativado para produção) -->
		<customErrors mode="Off" />
		<!-- Configurações de compilação -->
		<compilation targetFramework="4.0" />
		<!-- Configurações de páginas ASP.NET -->
		<pages controlRenderingCompatibilityVersion="4.0" />
		<!-- Configuração de globalização para o Português Brasileiro -->
		<globalization culture="pt-BR" uiCulture="pt-BR" />
	</system.web>
	<!-- Configurações do servidor Web -->
	<system.webServer>
		<!-- Configuração de documento padrão -->
		<defaultDocument>
			<files>
				<clear />
				<add value="index.aspx" />
			</files>
		</defaultDocument>
		<!-- Configurações de reescrita de URL -->
		<rewrite>
			<rules>
				<!-- Redireciona URLs vazias para index.aspx -->
				<rule name="Redirect to Index" stopProcessing="true">
					<match url="^$" />
					<action type="Redirect" url="/index.aspx" />
				</rule>
				<!-- Manipula outras URLs -->
				<rule name="Handle Other URLs">
					<match url="(.*)" />
					<action type="Rewrite" url="{R:1}" />
				</rule>
				<rule name="InfoPageRoute">
					<match url="^Info$" />
					<action type="Rewrite" url="Pages/Error/Info.aspx" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<!-- Configuração de conexão com banco de dados -->
	<connectionStrings>
		<!-- String de conexão para o PostgreSQL -->
		<add name="PostgreSQLConn" connectionString="Server=wgvmimoveis2.postgresql.dbaas.com.br;Port=5432;Database=wgvmimoveis2;User Id=wgvmimoveis2;Password=Wes07032010@;" providerName="Npgsql" />
	</connectionStrings>
	<!-- Configurações de aplicativo -->
	<appSettings>
		<!-- Configuração para desativar o Unobtrusive Validation Mode -->
	</appSettings>
	<!-- Configuração do Entity Framework -->
	<entityFramework>
		<!-- Fábrica de conexão padrão para o Entity Framework -->
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v13.0" />
			</parameters>
		</defaultConnectionFactory>
		<!-- Provedores do Entity Framework -->
		<providers>
			<!-- Provedor para o PostgreSQL (Npgsql) -->
			<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.net>
		<defaultProxy enabled="true" />
		<settings>
			<!-- This setting causes .NET to check certificate revocation lists (CRL)
			     before trusting HTTPS certificates.  But this setting tends to not
			     be allowed in shared hosting environments. -->
			<!--<servicePointManager checkCertificateRevocationList="true" />-->
		</settings>
	</system.net>
	<runtime>
		<!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
		<legacyHMACWarning enabled="0" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<dotNetOpenAuth>
		<messaging>
			<untrustedWebRequest>
				<whitelistHosts>
					<!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
					<!--<add name="localhost" />-->
				</whitelistHosts>
			</untrustedWebRequest>
		</messaging>
		<!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
		<reporting enabled="true" />
	</dotNetOpenAuth>
</configuration>