.top-container {
    background-color: white;
    color: #000;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column; /* Os elementos ficarão empilhados verticalmente */
    align-items: flex-end;
}

.title {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 30px 30px 30px; /* Espaçamento interno de 20px no topo e 30px na direita, esquerda e inferior */
}

.social-icons {
    display: flex;
    justify-content: flex-end; /* Alinha os ícones à direita */
    margin-top: 20px; /* Espaçamento interno de 20px na parte superior do social-icons */
}

    .social-icons i {
        margin-left: 5px; /* Espaçamento entre os ícones de redes sociais */
        color: #333;
        font-size: 24px;
    }

/*--- Imagem galery ---*/

.image-gallery {
    overflow: hidden; /* Oculta a parte da imagem que estiver fora do container */
    position: relative;
    text-align: center;
}

.image-wrapper {
    display: flex; /* Para as imagens ficarem em linha */
    transition: transform 0.3s ease; /* Adiciona uma transição suave à transformação */
}

    .image-wrapper img {
        width: 300px; /* Largura das imagens na galeria */
        height: auto; /* Altura automática para manter a proporção */
        margin-right: 10px; /* Espaçamento horizontal entre as imagens */
    }

.prev-btn, .next-btn {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .prev-btn:hover, .next-btn:hover {
        background-color: #555;
    }

.development-text {
    background-color: #ffc107; /* Cor de fundo amarela */
    color: #333; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Alinhamento centralizado */
}
