.w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.w-users-userformpagewrap {
    height: 100vh;
    max-width: 340px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.w-users-userloginformwrapper {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.w-users-userformheader {
    text-align: center;
}

.w-users-userformbutton {
    width: 100%;
    text-align: center;
}

.w-users-userformfooter {
    justify-content: space-between;
    margin-top: 12px;
    display: flex;
}

.w-users-userformerrorstate {
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
}

.w-users-usersignupformwrapper {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.w-users-userformsuccessstate {
    display: none;
}

.w-checkbox {
    margin-bottom: 5px;
    padding-left: 20px;
    display: block;
}

    .w-checkbox:before {
        content: " ";
        grid-area: 1 / 1 / 2 / 2;
        display: table;
    }

    .w-checkbox:after {
        content: " ";
        clear: both;
        grid-area: 1 / 1 / 2 / 2;
        display: table;
    }

.w-checkbox-input {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
}

.w-checkbox-input--inputType-custom {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

    .w-checkbox-input--inputType-custom.w--redirected-checked {
        background-color: #3898ec;
        background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-color: #3898ec;
    }

    .w-checkbox-input--inputType-custom.w--redirected-focus {
        box-shadow: 0 0 3px 1px #3898ec;
    }

.w-users-usersignupverificationmessage {
    display: none;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.w-users-useraccountwrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
}

.w-users-blockheader {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    justify-content: space-between;
    align-items: baseline;
    padding: 4px 20px;
    display: flex;
}

.w-users-blockcontent {
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    margin-bottom: 20px;
    padding: 20px;
}

.w-users-useraccountformsavebutton {
    text-align: center;
    margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
    text-align: center;
    color: #333;
    background-color: #d3d3d3;
}

@media screen and (max-width: 991px) {
    .w-layout-blockcontainer {
        max-width: 728px;
    }
}

@media screen and (max-width: 767px) {
    .w-layout-blockcontainer {
        max-width: none;
    }
}

.logos-title-large {
    border-bottom: 1px solid #e4ebf3;
    padding: 10px 30px 19px;
    position: relative;
}

.container {
    width: 100%;
    max-width: 940px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.clients-title {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    line-height: 32px;
}

.icones-sociais {
    max-width: 750px;
    text-align: left;
    object-fit: fill;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: static;
}

.navbar-logo-center-container {
    z-index: 5;
    width: 1030px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

    .navbar-logo-center-container.shadow-three {
        width: 100%;
        max-width: 1140px;
    }

.navbar-wrapper-three {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.navbar-brand-three {
    z-index: 5;
    position: absolute;
}

.nav-menu-wrapper-three {
    width: 100%;
}

.nav-menu-three {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    display: flex;
}

.nav-menu-block {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    display: flex;
}

.nav-link {
    color: #1a1b1f;
    letter-spacing: .25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

    .nav-link:hover {
        color: rgba(26, 27, 31, .75);
    }

    .nav-link:focus-visible {
        outline-offset: 0px;
        color: #0050bd;
        border-radius: 4px;
        outline: 2px solid #0050bd;
    }

    .nav-link[data-wf-focus-visible] {
        outline-offset: 0px;
        color: #0050bd;
        border-radius: 4px;
        outline: 2px solid #0050bd;
    }

.nav-dropdown {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-dropdown-toggle {
    letter-spacing: .25px;
    padding: 5px 30px 5px 10px;
    font-size: 14px;
    line-height: 20px;
}

    .nav-dropdown-toggle:hover {
        color: rgba(26, 27, 31, .75);
    }

    .nav-dropdown-toggle:focus-visible {
        outline-offset: 0px;
        color: #0050bd;
        border-radius: 5px;
        outline: 2px solid #0050bd;
    }

    .nav-dropdown-toggle[data-wf-focus-visible] {
        outline-offset: 0px;
        color: #0050bd;
        border-radius: 5px;
        outline: 2px solid #0050bd;
    }

.nav-dropdown-icon {
    margin-right: 10px;
}

.nav-dropdown-list {
    background-color: #fff;
    border-radius: 12px;
}

    .nav-dropdown-list.w--open {
        padding-top: 10px;
        padding-bottom: 10px;
    }

.nav-dropdown-link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

    .nav-dropdown-link:focus-visible {
        outline-offset: 0px;
        color: #0050bd;
        border-radius: 5px;
        outline: 2px solid #0050bd;
    }

    .nav-dropdown-link[data-wf-focus-visible] {
        outline-offset: 0px;
        color: #0050bd;
        border-radius: 5px;
        outline: 2px solid #0050bd;
    }

.nav-link-accent {
    color: #1a1b1f;
    letter-spacing: .25px;
    margin-left: 5px;
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
}

    .nav-link-accent:hover {
        color: rgba(26, 27, 31, .75);
    }

.button-primary {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
}

    .button-primary:hover {
        color: #fff;
        background-color: #32343a;
    }

    .button-primary:active {
        background-color: #43464d;
    }

.logos-title-large-2 {
    border-bottom: 1px solid #e4ebf3;
    padding: 60px 30px;
    position: relative;
}

.container-2 {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.clients-title-2 {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
}

.clients-wrapper {
    max-width: 750px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.logos-without-title {
    text-align: left;
    background-color: #f5f7fa;
    border-bottom: 1px solid #e4ebf3;
    padding: 0;
    position: relative;
}

.clients-wrapper-three {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -10px;
    display: flex;
}

.clients-image-three {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.wbs-menu-button {
    background-color: #f7f7f7;
    border-radius: 10px;
}

    .wbs-menu-button.w--open {
        background-color: #08b54f;
    }

.wbs-button-primary-1 {
    color: #fff;
    text-align: center;
    background-color: #08b54f;
    border-radius: 6px;
    padding: 13px 30px;
    font-size: 15px;
    font-weight: 700;
    transition: background-color .3s ease-in-out;
}

    .wbs-button-primary-1:hover {
        background-color: #010b15;
    }

.wbs-nav-right {
    margin-right: 5px;
}

.wbs-nav-link-dark {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

.wbs-dropdown-link {
    color: #f7f7f7;
    background-color: #08b54f;
    font-size: 16px;
    font-weight: 700;
    transition: color .3s ease-in-out;
    left: 0;
}

    .wbs-dropdown-link:hover {
        color: #f7f7f7;
        background-color: #ffb342;
        border-radius: 0;
        font-weight: 700;
    }

.wbs-dropdown-list {
    background-color: #fff;
    border: 1px solid rgba(1, 11, 21, .12);
    border-radius: 10px;
    padding: 15px 10px;
}

    .wbs-dropdown-list.w--open {
        width: 200px;
        height: auto;
        background-color: #5684a0;
        border-radius: 13px;
        margin-top: 3px;
        margin-left: 10px;
        padding: 0;
        overflow: hidden;
    }

.wbs-nav-menu {
    margin-left: auto;
}

.wbs-logo {
    height: 2.375rem;
}

.wbs-nav-wrap {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-items: center;
    display: flex;
}

.wbs-container {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.wbs-navbar-6 {
    background-color: #010b15;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wbs-section {
    padding: 0 0% 6.25rem;
}

.div-block {
    height: 100px;
    -webkit-text-fill-color: inherit;
    background-color: #00abd9;
    background-image: url('/Content/themes/ByWescomp/images/fundo-top-wgvmi.jpg');
    background-position: 0 0;
    background-size: cover;
    background-clip: border-box;
    margin-left: 0;
}

.image {
    width: 100px;
    height: 100px;
    min-height: 0;
    margin-left: 100px;
    padding-left: 0;
    position: relative;
    left: -83px;
    right: auto;
}

.text-block {
    text-align: center;
    object-fit: fill;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    position: relative;
    right: -200px;
}

.text-span {
    width: 89%;
    text-shadow: 4px 4px 14px #f7f7f7;
    margin-left: 60px;
    padding-left: 140px;
    padding-right: 140px;
    position: relative;
    right: 0;
}

.wbs-menu-button-2 {
    background-color: #f7f7f7;
    border-radius: 10px;
}

    .wbs-menu-button-2.w--open {
        background-color: #08b54f;
    }

.wbs-button-primary-2 {
    color: #fff;
    text-align: center;
    background-color: #08b54f;
    border-radius: 6px;
    padding: 13px 30px;
    font-size: 15px;
    font-weight: 700;
    transition: background-color .3s ease-in-out;
}

    .wbs-button-primary-2:hover {
        background-color: #010b15;
    }

.wbs-nav-link {
    color: #f7f7f7;
    text-align: left;
    -webkit-text-fill-color: inherit;
    mix-blend-mode: normal;
    object-fit: fill;
    background-color: #0384fd;
    background-clip: border-box;
    border: 1px #000;
    border-radius: 15px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    right: auto;
}

    .wbs-nav-link:hover {
        background-color: #5684a0;
    }

    .wbs-nav-link:active {
        background-color: #466a80;
    }

.wbs-dropdown-link-2 {
    color: #010b15;
    font-size: 16px;
    font-weight: 700;
    transition: color .3s ease-in-out;
}

    .wbs-dropdown-link-2:hover {
        color: #08b54f;
    }

.wbs-dropdown-list-2 {
    background-color: #fff;
    border: 1px solid rgba(1, 11, 21, .12);
    border-radius: 10px;
    padding: 15px 10px;
}

.wbs-nav-menu-2 {
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
}

.wbs-logo-2 {
    width: 120px;
    height: 58px;
}

.wbs-nav-wrap-2 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-items: center;
    display: flex;
}

.wbs-container-2 {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.wbs-navbar {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 15px;
    padding-bottom: 15px;
}

.wbs-section-2 {
    background-color: #ffb342;
    padding: 0 5%;
}

.body {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.dropdown-list {
    overflow: hidden;
}

    .dropdown-list.w--open {
        width: 160px;
        height: auto;
        margin-left: 10px;
    }

.div-block-2 {
    width: 250px;
    height: 20px;
    float: none;
    display: block;
    position: relative;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.div-block-3 {
    background-color: #08b54f;
    overflow: visible;
}

.dropdown-list-2 {
    width: 130px;
    height: 0;
    background-color: #5684a0;
    margin-top: 0;
    overflow: hidden;
}

    .dropdown-list-2.w--open {
        width: 150px;
        color: rgba(0, 0, 0, 0);
        background-color: #5684a0;
        border-radius: 14px;
        margin-left: 10px;
        font-family: Verdana, Geneva, sans-serif;
        overflow: hidden;
    }

.dropdown-link {
    color: #f7f7f7;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
}

    .dropdown-link:hover {
        background-color: #feb242;
    }

.text-titu-imov-destaque {
    color: #010b15;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

/* Remover essa classe futuramente */
.aviso-em-desenvolvimento {
    font-size: 20px; /* Aumenta o tamanho da fonte para 16px */
    color: #FF0000; /* Cor vermelha, você pode personalizar a cor conforme desejado */
    margin-top: 10px; /* Define uma margem superior para separar o texto do título */
    text-align: center; /* Centraliza o texto horizontalmente */
}

.div-titu-imov_destaque {
    padding-top: 40px;
    padding-bottom: 40px;
}

.repeater-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imovel {
    width: calc(33.33% - 10px);
    margin-bottom: 20px; /* Espaço entre as linhas */
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.div-block-4 {
    width: 300px;
    height: 346px;
    margin: 0 10px; /* Adicione margens direita e esquerda de 10px */
    margin-bottom: 50px; /* Adicione margem inferior para espaçamento entre as caixas */
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 0;
    position: relative;
    display: inline-block;
    left: 10%;
}

.div-image-imov-destaque {
    position: absolute;
    width: 100%;
    height: 225px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Centraliza a imagem vertical e horizontalmente */
}

    .div-image-imov-destaque img {
        width: 100%; /* Garante que a imagem se ajuste à largura do contêiner */
        height: 225px; /* Mantém a proporção da imagem */
        max-width: 100%; /* Certifique-se de que a imagem não ultrapasse a largura do contêiner */
        max-height: 100%; /* Certifique-se de que a imagem não ultrapasse a altura máxima */
    }

.div-venda-imov-destaque {
    min-height: auto;
    background-color: #010b15;
    padding: 10px;
    display: block;
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 5%;
    right: auto;
}

.text-venda-imov-destaque {
    color: #f7f7f7;
    font-size: 16px;
    font-weight: 700;
}

.div-image-imov-destaque {
    position: absolute;
    width: 300px; /* Largura desejada */
    height: 225px; /* Altura desejada */
}

.div-preco-imov-destaque {
    background-color: #010b15;
    padding: 10px;
    position: absolute;
    top: auto;
    bottom: 5%;
    left: auto;
    right: 5%;
}

.div-block-5 {
    width: 100%;
    height: auto;
    background-color: #f1e9e9;
    padding: 10px;
    position: absolute;
}

.text-block-2 {
    color: #000;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
}

.div-block-6 {
    width: 100%;
    margin-top: 10px;
    position: absolute;
    top: auto;
    left: 0;
}

.button {
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

    .button:hover {
        background-color: #077ce2;
    }

.image-2 {
    float: none;
    position: -webkit-sticky;
    position: sticky;
}

.image-3 {
    width: 280px;
    height: auto;
}

.container-titu-imov-propriedades {
    width: 100%;
    height: 130px;
    max-width: 95%;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

.div-titu-imov-propriedades {
    width: 100%;
    height: auto;
    text-align: center;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    display: block;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.text-titu-imov-propriedades {
    color: #0c0b0b;
    text-align: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.div-icons-sociais {
    width: 90%;
    height: 40px;
    text-align: right;
    justify-content: flex-start;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
    display: block;
    position: absolute;
    top: 70px;
    right: 10px;
}

.btn-fbook {
    width: 24%;
    height: 30px;
    text-align: right;
    object-fit: fill;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 0;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.twitter {
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
    overflow: visible;
}

.container-carrousel-img {
    width: auto;
    height: 50px;
    max-width: 100%;
    text-align: left;
    background-color: #8f1d1d;
    margin: 0 0 auto;
    padding-left: 0;
    position: absolute;
    top: 150px;
    bottom: auto;
    left: 0;
    right: 0;
}

.slider1 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 728px;
    }

    .clients-title {
        margin-bottom: 32px;
    }

    .navbar-wrapper-three {
        justify-content: space-between;
    }

    .navbar-brand-three {
        position: relative;
    }

    .nav-menu-wrapper-three {
        background-color: rgba(0, 0, 0, 0);
        top: 70px;
    }

    .nav-menu-three {
        background-color: #fff;
        border-radius: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 20px;
        display: flex;
        box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
    }

    .nav-link {
        padding-left: 5px;
        padding-right: 5px;
    }

    .nav-dropdown-list.shadow-three.w--open {
        position: absolute;
    }

    .menu-button {
        padding: 12px;
    }

        .menu-button.w--open {
            color: #fff;
            background-color: #a6b1bf;
        }

    .container-2 {
        max-width: 728px;
    }

    .clients-title-2 {
        margin-bottom: 32px;
    }

    .clients-image-three {
        margin-bottom: 30px;
    }

    .wbs-menu-button {
        background-color: #f7f7f7;
        border-radius: 10px;
        margin-left: auto;
        padding: 15px;
    }

        .wbs-menu-button.w--open {
            background-color: #08b54f;
        }

    .wbs-nav-right {
        display: none;
    }

    .wbs-nav-menu {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .wbs-navbar-6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .wbs-section {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .wbs-menu-button-2 {
        background-color: #f7f7f7;
        border-radius: 10px;
        margin-left: auto;
        padding: 15px;
    }

        .wbs-menu-button-2.w--open {
            background-color: #08b54f;
        }

    .wbs-nav-right-2 {
        display: none;
    }

    .wbs-nav-menu-2 {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .wbs-section-2 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 767px) {
    .logos-title-large {
        padding: 60px 15px;
    }

    .icones-sociais {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: -20px;
    }

    .clients-image {
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar-brand-three {
        padding-left: 0;
    }

    .nav-menu-three {
        border-radius: 20px;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .nav-menu-block {
        flex-direction: column;
    }

    .nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
    }

    .nav-dropdown {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .nav-dropdown-toggle {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-dropdown-list.shadow-three {
        box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
    }

        .nav-dropdown-list.shadow-three.w--open {
            position: relative;
        }

        .nav-dropdown-list.shadow-three.mobile-shadow-hide {
            box-shadow: none;
        }

    .nav-link-accent {
        margin-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
    }

    .mobile-margin-top-10 {
        margin-top: 10px;
    }

    .logos-title-large-2 {
        padding: 60px 15px;
    }

    .clients-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: -20px;
    }

    .clients-image-2 {
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .logos-without-title {
        padding: 60px 15px;
    }

    .clients-wrapper-three {
        margin-bottom: -30px;
    }

    .clients-image-three {
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .wbs-section, .wbs-section-2 {
        padding: 2rem 2%;
    }
}

@media screen and (max-width: 479px) {
    .container {
        max-width: none;
    }

    .clients-image {
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-menu-three {
        flex-direction: column;
    }

    .container-2 {
        max-width: none;
    }

    .clients-image-2 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .clients-wrapper-three {
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        justify-items: center;
        margin-bottom: 0;
        display: grid;
    }

    .clients-image-three {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
}